@model Employee
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Employee</h2>
            <span>Data of Employee </span>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Update" method="post" asp-antiforgery="true">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="Country" value="@Model.Country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3 offset-md-8 col-sm-12"><button class="btn btn-danger btn-block" type="submit" title="Save">Save</button></div>
                        <div class="col-md-1 col-sm-12"><button class="btn btn-default btn-block" asp-action="Index" title="Return"><i class="ion-arrow-return-left"></i></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

